.ImageList {
  display: flex;
  flex-direction: column;
  /* width: 75%; */
  max-width: 960px;
  margin: auto;
}

.ImageList div {
  margin: auto;
  width: 100%;
  text-align: center;
}

.ImageList div p {
  font-size: 2.5vh;
  margin: 0;
}

img {
  width: 100%;
}
