.ImageList {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 960px;
  margin: auto;
}

.ImageList div {
  margin: auto;
  width: 100%;
  text-align: center;
}

.ImageList div p {
  font-size: 3vh;
}

img {
  width: 100%;
}
